*.env
.env
*.log
node_modules/
builds
db.sh
docker-*
Dockerfile
docker-compose.yml
*.zip
*.tar.gz
*.bak
*.tmp
.DS_Store
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.iml
*.class
*.jar
*.war
*.ear
*.pyc
*.sh
*.exemple
*.sample
*.backup
*.orig
*.swp
*.conf
*.pem
*.jpg
*.png
*.pdf
dist-ssr
*.local
.env.example
*.sql
backups/